*{
margin:0;
padding:0;
background-position:center;
background-image:url("fundosite.png");
background-attachment:fixed;
background-color:black;
background-repeat:no-repeat;
}
.sitetotal{
margin:0;
width:1280;

}

.cabecalho{
width:80%;
height:275px;
background-image:("fundo3.jpg");
margin: auto;
text-align:center;
font-family:Verdana;
font-size:20px;
}

.cabecalho img{
display:block;
margin-left:auto;
margin-right:auto;
}

.menu{
margin:auto;
display:table;
}

.menu ul li{
position :relative;
list-style:none;
border: 2px solid #c0c0c0;
float:left;
font-family:"Arial Black";
font-size:19px;
}



.menu li a {
color:black;
text-decoration:none;
padding: 5px 10px;
display:block;
background-image:("fundo3.jpg");
}

.menu li a:hover{
background:#333;
color:#fff;

}

.menu li ul {
position:absolute;
top:38px;
left:0px;
background-color:;
display:none;
}

.menu li:hover ul,menu li.over ul {
display:block;
z-index:9999;
}

.menu li ul li {
border:1px solid #c0c0c0;
display:block;
width:250px;
}

.conteudo {
width:76%;
position:relative;
margin:auto;
}


CSS/PRINCIPAL.CSS
	
