#cssmenu {
  margin: 0 auto;
  width: 0%;
  width: 350px;  
  border-style: solid ;
  border-size: 1px;
  border-width: 1px;
  padding: 0px;
  font-family:verdana;
  font-size:20px;
  background: #E6E6FA;
  text-align:center;
}
#cssmenu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color:black
}
#cssmenu li a {
  height: 24px;
  text-decoration: none;
  font-weight: normal;
  color: black;
  display: block;
  padding: 10px;
}
#cssmenu li a:hover {
  color: black;
  background: black;
}
#cssmenu li a:active {
  color: #fff;
  background: 
  padding: 8px 0 0 10px;
}
